/*
:root {
    --color: white;
}
*/
header {
    background-color: whitesmoke;
}

#utmn-logo {
    max-width: calc(var(--bs-gutter-x)*2);
    max-height: calc(var(--bs-gutter-x)*1.5);
}

#main-thing {
    border-radius: calc(var(--bs-gutter-x)* .5);
    border: 2px solid #dadada;
    background-color: white;
}

textarea#user-text {
    text-align: left;
    field-sizing: content;
    resize: none;
}

#codecheck {
    margin-left: calc(var(--bs-gutter-x)*2);
    margin-bottom: calc(var(--bs-gutter-x)* .5);
    margin-top: calc(var(--bs-gutter-x)* .5);
    flex-direction: column;
    display:flex;
    position:relative;

}

h5 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

h3 {
    overflow:hidden;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
}

p {
    overflow:hidden;
    text-align:left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:inline-flex;
    margin: 2rem;
    font-size: 1.5rem;
}

body {
    height:100%;
    background-color: #F2F3F7;
}